<!--div class="row">
    <div class="col-md-4" *ngFor="let course of courses">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" [src]="course.image" alt="{{ course.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ course.title }}</h5>
          <p class="card-text">{{ course.description }}</p>
          <p class="card-text">Instructor: {{ course.instructor }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Ver más</button>
            </div>
            <small class="text-muted">{{ course.duration }}</small>
          </div>
        </div>
      </div>
    </div>
  </div-->
  
